body {
    background-color: lightyellow;
    font: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    text-align: center;
    font-size: 300%;

}

header {
    font-size: 135%;
}

 nav {        
        border: 1px black solid;
        padding: 8px;
        margin: -1px 0px 0px 0px;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
    }
    
    nav li {
        display: inline;
        padding: 8px;    
    }
